<a href="https://colab.research.google.com/github/Aishwarya-1213/rinexprojects/blob/main/MiniProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name -- Aishwarya Brungi
College -- KU College Of Engineering and Technology
Branch -- CSE
Year -- 4
URL- https://www.kaggle.com/datasets/erqizhou/students-data-analysis

In [ ]:
#Exploratory Data Analysis

In [ ]:
import pandas as pd
df = pd.read_csv('/content/Students data.csv')
df

,ID,class,gender,race,GPA,Algebra,Calculus1,Calculus2,Statistics,Probability,Measure,Functional_analysis,from1,from2,from3,from4,y
0,1141,A,male,1,73.47,64,81,87,60,74,71,60,A,A,A,3,0
1,1142,A,female,1,71.22,57,50,51,51,55,62,61,B,A,A,2,0
2,1143,A,female,2,74.56,47,48,71,60,61,68,64,C,A,A,0,1
3,1144,A,female,1,72.89,46,72,38,60,29,54,51,D,A,A,0,0
4,1145,A,female,1,70.11,49,45,63,60,66,66,61,E,A,A,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,1241,A,female,1,88.34,87,83,92,98,93,86,90,M,B,A,0,1
101,1242,B,male,1,89.84,98,77,95,98,96,88,100,A,B,A,0,1
102,1243,B,male,1,88.82,83,80,91,98,93,95,71,T,B,A,0,2
103,1244,A,male,1,86.60,92,82,91,99,94,82,78,S,B,A,0,2
104,1245,A,male,1,93.71,93,97,99,100,97,90,90,K,B,A,0,2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   105 non-null    int64
 1   class                105 non-null    object
 2   gender               105 non-null    object
 3   race                 105 non-null    int64
 4   GPA                  105 non-null    float64
 5   Algebra              105 non-null    int64
 6   Calculus1            105 non-null    int64
 7   Calculus2            105 non-null    int64
 8   Statistics           105 non-null    int64
 9   Probability          105 non-null    int64
 10  Measure              105 non-null    int64
 11  Functional_analysis  105 non-null    int64
 12  from1                105 non-null    object
 13  from2                105 non-null    object
 14  from3                105 non-null    object
 15  from4                105 non-null    int64
 16  y                    105 non-null    int64
dtypes: float64(1), int64(11), object(5)
memory usage: 14.1+ KB

In [ ]:
df.shape

(105, 17)

In [ ]:
df.size

1785

In [ ]:
df.nunique()

ID                     105
class                    2
gender                   2
race                     7
GPA                    103
Algebra                 39
Calculus1               37
Calculus2               38
Statistics              30
Probability             36
Measure                 38
Functional_analysis     35
from1                   28
from2                    2
from3                    5
from4                    3
y                        3
dtype: int64

In [ ]:
df.groupby('gender').size()  #numbers of females and males

gender
female    68
male      37
dtype: int64

In [ ]:
import numpy as np   #lowest GPA
np.min(df['GPA'])

63.49

In [ ]:
np.max(df['GPA'])  #Highest GPA

93.71

In [ ]:
np.max(df['Calculus1'])

100

In [ ]:
np.min(df['Calculus1'])

38

In [ ]:
np.max(df['Calculus2'])

99

In [ ]:
np.max(df['Calculus2'])

99

In [ ]:
np.max(df['Algebra'])

98

In [ ]:
np.min(df['Algebra'])

46

In [ ]:
np.max(df['Statistics'])

100

In [ ]:
np.min(df['Statistics'])

51

In [ ]:
np.max(df['Probability'])

97

In [ ]:
np.min(df['Probability'])

29

In [ ]:
np.max(df['Functional_analysis'])

100

In [ ]:
np.min(df['Functional_analysis'])

9

In [ ]:
df.groupby(['ID','gender']).GPA.max()

ID    gender
1141  male      73.47
1142  female    71.22
1143  female    74.56
1144  female    72.89
1145  female    70.11
                ...
1241  female    88.34
1242  male      89.84
1243  male      88.82
1244  male      86.60
1245  male      93.71
Name: GPA, Length: 105, dtype: float64